* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header>h1 {
  color: #c13d16;
  font-size: 2rem;
  font-family: 'Archivo Black', sans-serif;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  color: black;
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
  height: 200px;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Neuton', serif;
  color: #c13d16;
}

.app__information>h3 {
  /* color: #6a5d5d; */
  color: #c13d16;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Neuton', serif;
}

.app__information>h3:last-of-type {
  margin-top: 1rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}