.infoBox {
    flex: 1;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.infoBox:not(:last-child) {
    margin-right: 10px;
}

.infoBox--selected {
    border-top: 10px solid #07f107;
}

.infoBox--red {
    border-color: red;
}

.infoBox__cases--green {
    color: #07f107 !important;
}

.infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}